---
layout : base
---

<h2>Inner Members</h2>
<ol>
{%- for member in collections.inner_members -%}
<li><p class="member_name">{{ member.data.name }}</p></li>
<p class="p_contacts">Contacts :</p>
<ul class="member_contacts_heading">
    <li class="member_contacts"><a href={{ member.data.github }}>Github</a></li>
    <li class="member_contacts"><a href={{ member.data.email }}>Email</li>
    <li class="member_contacts"><a href={{ member.data.instagram }}>Instagram</li>
<ul>
{%- endfor -%}
</ol>

<h2>Outer Members</h2>
<ol>
{%- for member in collections.outer_members -%}
<li><p class="member_name">{{ member.data.name }}</p></li>
<p class="p_contacts">Contacts :</p>
<ul class="member_contacts_heading">
    <li class="member_contacts"><a href={{ member.data.github }}>Github</a></li>
    <li class="member_contacts"><a href={{ member.data.email }}>Email</li>
    <li class="member_contacts"><a href={{ member.data.instagram }}>Instagram</li>
<ul>
{%- endfor -%}
</ol>
